<% if current_user %>
  <% if current_user.role_type == "non_admin" %>
   <script type="text/javascript">
    window.location.href="/accessdenied"
  </script>
<% end %>
<% end %>

<%= stylesheet_link_tag "administration" %>

<div class="container">

<h2>Welcome
    <%= current_user.name %>
</h2>

<h2>Site Administration</h2>
<div class="row">
    <div class="col-md-8">
        <div class="container-0">
            <div class="box-0">
                <p>Users</p>
            </div>
        </div>
        <% @user_select.each do |user| %>

        <div class="container-1">

            <div class="box-1">

                <%= user.name %>
            </div>
            <div class="box-2">

                <%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe,  edit_admin_path(user), class: 'btn btn-default'  %>
            </div>
            <div class="box-3">

                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

        </div>
        <% end %>

        <!--   End Code for the edit button  __-->

        <div class="container-0">
            <div class="box-0">
                <p>Non-Admins</p>
            </div>
        </div>

        <% @user_select1.each do |user| %>

        <div class="container-1">

            <div class="box-1">

                <%= user.name %>
            </div>
            <div class="box-2">

                <%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe,  edit_admin_path(user), class: 'btn btn-default', method: :get  %>
            </div>
            <div class="box-3">

                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

        </div>
        <% end %>
    </div>
    <div class="col-md-4 ">
      <div class="container-2">
            <H2 class="csv">Generate CSV Reports</h2>
      </div>
    <%= form_tag("/admin.csv", method: 'GET') do %>
    <%= select_tag "options", grouped_options_for_select(grouped_options = {
      'Award Type' => [['Kudos', 'kudos'], ['Employee of the Month', 'eom'],['Employee of the Year', 'eoy']],
      'By Quarter' => [['First Quarter', 1], ['Second Quarter', 2], ['Third Quarter', 3], ['Fourth Quarter', 4]]}) %>

      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          Generate Report
      <% end %>
      <% end %>
      <!--Codde for charts -->
      <div class="container-3">
            <H2 class="csv">Generate Charts</h2>
      </div>
    <%= form_tag admin_index_path, method: 'get' do %>
    <%= select_tag "charts", grouped_options_for_select(grouped_options = {
      'BreakDown' => [['Award Types', 'award'], ['Grantees', 'grantees'],['Timeline', 'time']]}) %>

      <%= button_tag(type: "submit", class: "btn btn-primary", id: "generatecharts") do %>
          Generate Report
      <% end %>
      <% end %>
      </div>
</div>

</div>


<h1 id="result"><h1>

  <% if defined?(@awardtype) %>
  <%= pie_chart @awardtype.group(:award_type).count %>
  <% elsif defined?(@awardgrantee) %>
  <%= pie_chart @awardgrantee.group(:employee_name).count %>
  <% elsif defined?(@awardtime) %>
<%= line_chart Award.group_by_month(:grant_date).count, label: "# of Awards Awarded During Month", xtitle: "Month Rewarded", ytitle: " Awards Rewarded", discrete: true   %>
  <% end %>
