<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

<%= simple_form_for(user) do |f| %>
    <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="jumbotron" align="center">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <br>

  <%= f.radio_button :role_type, 'admin' %>
  <%= label :role_type, 'Administrator' %>
  <%= f.radio_button :role_type, 'non_admin' %>
  <%= label :role_type, 'Non-Admin' %>
   <br>

  <%= f.hidden_field :signature, class: 'signature_pad_input' %>
  <div class="signature_pad">
    <div class="signature_pad_body">
      <canvas style="border:2px dashed teal"></canvas>
    </div>

    <div class="signature_pad_footer">
      <div class="lead">
        Sign above
      </div>
      <button type="button" class="btn btn-primary signature_pad_clear">Clear signature</button>
    </div>
  </div>
<br>
  <div class="actions">
    <%= f.submit :submit, :class => 'btn btn-success signature_pad_save' %>
  </div>

<% end %>
