<div class="jumbotron" align="center">
  <br><br><br><br><br><br><br>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Signature:</strong>
  <%= image_tag @user.signature %>
</p>

   <% if current_user.role_type == "admin" %>
            <%= link_to 'Back', '/admin' %>
   <% end %>

   <% if current_user.role_type == "non-admin" %>
            <%= link_to 'Back', '/landingpage' %>
   <% end %>

