<% if current_user %>
  <% if current_user.role_type == "admin" %>
   <script type="text/javascript">
    window.location.href="/accessdenied"  
  </script>
<% end %> 
<% end %> 

<%= form_for(award) do |f| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>
      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="jumbotron" align="center">
  <br><br><br><br><br><br><br>
        <p class="lead">
          Create a new award!
        </p>
  <div class="field">
    <%= f.label :award_type %>
    <%= f.collection_select :award_type, Award.get_awards, :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :employee_name %>
    <%= f.text_field :employee_name %>
  </div>

  <div class="field">
    <%= f.label :grant_date %>
    <%= f.date_select :grant_date, :order => [:month, :day, :year] %>
  </div>

   <div class="field">
    <%= f.label :employee_email%>
    <%= f.text_field :employee_email %>
  </div><br>

<% unless current_user.signature %>
 <div id="signature_area">
   <%= f.hidden_field :signature, class: 'signature_pad_input' %>
   <div class="signature_pad">
     <div class="signature_pad_body">
       <canvas style="border:2px dashed #18BC9C"></canvas>
     </div>

     <div class="signature_pad_footer">
       <div class="lead">
         Sign above
       </div>
       <button type="button" class="btn btn-primary signature_pad_clear">Clear signature</button>
     </div>
   </div>
 </div>
<% end %>
   <br>
   <div class="actions">
     <%= f.submit :submit, :class => 'btn btn-success signature_pad_save' %>
   </div>

  <br><br>

   <div class="panel panel-default">
    <div class="panel-heading"><em>Your name and the current timestamp will be automatically associated with the award upon creation</em></div>
</div>

<% end %>
