<%= form_for(award) do |f| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>
      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="jumbotron" align="center">
        <p class="lead">
          Create a new award!
        </p>
  <div class="field">
    <%= f.label :award_type %>
    <%= f.collection_select :award_type, Award.get_awards, :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :employee_name %>
    <%= f.text_field :employee_name %>
  </div>

  <div class="field">
    <%= f.label :grant_date %>
    <%= f.date_select :grant_date, :order => [:month, :day, :year] %>
  </div>

   <div class="field">
    <%= f.label :employee_email%>
    <%= f.text_field :employee_email %>
  </div>

  <div class="actions">
    <%= f.submit :submit, :class => 'btn btn-success signature_pad_save' %>
  </div>
<% end %>
