<!-- <p id="notice"><%= notice %></p> -->

<% if current_user %>
  <% if current_user.role_type == "admin" %>
   <script type="text/javascript">
    window.location.href="/accessdenied"  
  </script>
<% end %> 
<% end %> 

<div class="jumbotron" align="center">
 <div align="center">
      <h1>Awards</h1>
    </div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Awardee</th>
      <th>Award Type</th>
      <th>Granted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.employee_name %></td>
        <td><%= award.award_type %></td>
        <td><%= award.grant_date.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Award info', award %></td>
        <% if award.granter_id == current_user.id %>
          <td><%= link_to 'Edit this award', edit_award_path(award) %></td>
          <td><%= link_to 'Delete this award', award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
<%= link_to 'New Award', new_award_path, class: "btn btn-success" %>
</div>

<br>
<%= link_to 'Back', '/landingpage' %>