
<%= form_for user_session, url: user_session_path do |f| %>
    <% if user_session.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user_session.errors.count, "error") %> prohibited:</h2>
          <p>
            Email/password combination is invalid.
          </p>
        </div>boot
    <% end %>

    <div class="panel panel-success">
    <% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
    </div>

<% end %>
    <div class="jumbotron" align="center"><br><br><br>
     
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
    <br /><br>
    <%= f.submit "LOGIN", class: 'btn btn-success' %>
    
    <%= link_to "CREATE A NEW ACCOUNT", createuser_path, class: 'btn btn-primary' %>
    <%= link_to "FORGOT YOUR PASSWORD?", new_password_reset_path, class: 'btn btn-warning' %>
</div>


<% end %>


